.logo-marquee {
  overflow: hidden;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: scroll 400s linear infinite;
}

.logo-track img {
  padding: 0 50px;
  height: 30px;
  object-fit: cover;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Formula Content */
.product_lymph-ingr-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
}

.product-lymph-ingredient.is-open .product_lymph-ingr-content {
  max-height: 500px; /* đủ lớn */
  transition: max-height 1.5s ease;
}

.product-lymph-ingredient img.arrow {
  transition: transform 0.5s ease;
}

.product-lymph-ingredient.is-open img.arrow {
  transform: rotate(180deg);
}

/* Question Content */
.product_faq-item {
  overflow: hidden;
}

.product_fag-desc {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
}

.product_faq-item.is-open .product_fag-desc {
  max-height: 500px;
  transition: max-height 1.5s ease;
}

.product_faq-item img.arrow {
  transition: transform 0.5s ease;
}

.product_faq-item.is-open img.arrow {
  transform: rotate(180deg);
}
